*.dcu
*.ldb
*.local
*.stat
*.identcache
*.dsk
~*.*
*.~*
*.skincfg
__recovery
*.tvsconfig
*.orig
__history
bin/setup_*.exe
bin/*.exe
bin/*.json
*.aqt
*.bin
*.mes
*.rsm
*.map
*.drc
bin/data
bin/logs
*.otares
bin/_Win32/*.exe
bin/_Win64/*.exe
bin/_Win32/logs
bin/_Win64/logs
*.o
/src/Solutions/Configurator/FGX/.android-build
/bin/_Win32/cache/*
/bin/_Win32/log/*
/bin/_Win64/cache/*
/bin/_Win64/log/*
*.bak
*.ppu
*.rsj
