*.dcu
*.ldb
*.local
*.stat
*.identcache
*.dsk
~*.*
*.~*
*.skincfg
__recovery
*.tvsconfig
*.orig
__history
bin/setup_*.exe
bin/*.exe
bin/*.json
*.aqt
*.bin
*.mes
*.rsm
*.map
*.drc
/bin/Win32/*.exe
/bin/Win64/*.exe
*.jlt
*.xtf
*.o
/src/Solutions/Configurator/FGX/.android-build
/bin/Win32/cache
